<h2>TinyClone URL Shotrener</h2>
  <form [formGroup]="urlForm" (submit)="shorten()"> 

    <div class="url">
      <label for="url">Long URL:</label>
      <input type="text" id="url" formControlName="longUrl" required>
    </div>

    <br>

    <div class="exp">
      <label for="expiry">Expiry Date (optional):</label>
      <input type="datetime-local" id="expiry" formControlName="timeLimit">
    </div>

    <br>

    <div class="button">
      <button type="submit" class="primary">Shorten URL</button>
    </div>

  </form>
  <br>
  <a [href]="shortUrl" [hidden]="!shortUrl">www.tinyclone.com/jwqlkjl</a>